<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='vite.svg') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>辰龙机器人</title>
    <script type="module" crossorigin src="{{ url_for('static', filename='assets/index.js') }}"></script>
    <link rel="stylesheet" crossorigin href="{{ url_for('static', filename='assets/index.css') }}">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
